<div style="position:absolute; top:50px; left:50px"><h1 class="title">New product</h1></div>
<%= render partial: 'form', locals: { product: @product, categories: @categories } %>
<div style="position:absolute; top:50px; left:50px"><%= link_to 'Back', :back, :class => "ui-icon ui-icon-seek-prev" %></div>
